@page
@model PrivacyModel
@{
    ViewData["Title"] = "Ассортимент датчиков";
}
<h1>@ViewData["Title"]</h1>


<div class="Humidity">
    <img src="~/res/humidity.png" alt="Humidity" />
</div>

<div class="Temperature">
    <img src="~/res/temperature.png" alt="Temperature" />
</div>

<div class="Light">
    <img src="~/res/light.png" alt="Light" />
</div>

<div class="Bar">
    <img src="~/res/pressure.png" alt="Bar" />
</div>

<div class="Movement">
    <img src="~/res/movement.png" alt="Movement" />
</div>


<p>Датчик влажности</p>
